@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* css file imports */
@import '/styles/header.css';
@import '/styles/home.css';
@import '/styles/about.css';

:root {
    font-family: 'Roboto';
    --theme: #e79c25;
    --bg1: #1f242a;
    --bg2: #364049;
    --bg3: #525a67;
    --app-width: 1400px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}
button {
    border: none;
    outline: none;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    width: max-content !important;
    cursor: pointer;
}

.normal-button {
    background-color: var(--bg3);
}

.theme-button {
    background-color: var(--theme);
}

html {
    width: calc(100vw - 5px)
}

body {
    /* overflow-x: hidden; */
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    width: 5px;
    height: 5px;
    
}