.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg2);
    /* min-height: max-content; */
    height: 600px;
    width: 100%;
    padding: 0 0.3rem;
    /* border: 2px solid red; */
}

.about .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, var(--app-width));
    height: 100%;
    /* border: 2px solid greenyellow; */
}

.about .about-content .about-head-thin {
    display: none;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 1em;
    padding: 1rem 0;
}


.about .about-content .about-head-thin .theme {
    color: var(--theme);
}

.about .about-content .gallery-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: var(--theme);
    height: 100% !important;

}

.about .about-content .gallery-section .gallery {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid white; */
    gap: 1rem;
    width: min(90%, 460px);
    aspect-ratio: 1/1;
}

.about .about-content .gallery .cell {
    width: 100%;
}


.about .about-content .gallery .cell img{
    width: 100%;
}

.about .about-content .about-text {
    font-size: 1.2rem;
    width: 50%;
    padding: 2rem;
    color: #fff;
}

.about .about-content .about-text .about-head {
    font-size: 3rem;
    font-weight: 700;
}

.about .about-content .about-text .about-head .theme {
    color: var(--theme);
}

.about .about-content .about-text .about-para{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 720px) {
    .about {
        height: max-content;
    }
    .about .about-content {
        flex-direction: column;
        justify-content: start;
    }

    .about .about-content .about-text {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 0rem;
    }

    .about .about-content .about-text .about-head {
        display: none;
    }

    .about .about-content .about-head-thin {
        display: inline-block;
    }

    .about .about-content .gallery-section {
        width: 100%;
        background: none;
    }
}