.home {
    background: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home .home-content {
    width: min(100%, var(--app-width));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home-content .typography {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    font-size: 1.4rem;
    color: white;
    border: 1px solid;
}

.home .home-content .typography .catchy-line{
    font-size: 4rem;
    font-weight: 800;
    
    line-height: 1em;
}

.home .home-content .typography .catchy-line span {
    color: orange
}

.home .home-content .typography .desc {
    /* font-size: 1.3rem; */
    color: white;
    padding-top: 1rem;
}

.home .home-content .typography .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

.home .home-content .banner {
    background: var(--bg2);
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .home-content .banner img {
    height: 25rem
}
