.home {
    background: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    margin-top: 60px;
}

.home .space {
    height: 100%;
    flex-grow: 1;
}

.home .space.right {
    background-color: var(--bg2);
}


.home .home-content {
    width: min(100%, var(--app-width));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 100%;
}

.home .home-content .typography {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    font-size: 1.4rem;
    color: white;
    /* border: 1px solid yellow; */
}

.home .home-content .typography .catchy-line{
    font-size: 4rem;
    font-weight: 800;
    
    line-height: 1em;
}

.home .home-content .typography .catchy-line span {
    color: var(--theme)
}

.home .home-content .typography .desc {
    /* font-size: 1.3rem; */
    color: white;
    padding-top: 1rem;
}

.home .home-content .typography .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.home .home-content .banner {
    background: var(--bg2);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.home .home-content .banner img {
    height: 25rem;
}

@media screen and (max-width: 720px) {
    .home .home-content .banner {
        position: absolute;
        width: 100%;
        background-color: transparent;
        z-index: -1;
        opacity: 0.4;
    }

    .home .home-content .typography {
        width: 100%;
    }

    .home .home-content .typography * {
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}
